<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}"
>
<body>
    <main id="main">

     <!-- ======= Cta Section ======= -->
      <section layout:fragment="page-layout-content" id="cta" class="cta">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <h3>JWT Or <span>Jason Web Token</span></h3>
             <ul align="left">
               <li>
                 <strong>Imagine a Hotel Room that you have booked for a 4 days vacation </strong>
               </li>
               <li>
                 <strong>When you check in, the Hotel Front Desk will make a couple of Hotel Room Access Card for you to enter your room</strong>
               </li>
               <li>
                 <strong>After you check out these key cards will be deactivated </strong>
               </li>
               <li>
                 <strong>So in real life, we do support / are aware of short living access cards / access keys compared to the Room Lock Keys that remains valid for as long as the lock is not changed</strong>
               </li>
               <li>
                 <strong>Why the Access Card is deactivated? Because the Hotel does not want unauthorized people to enter the rooms</strong>
               </li>
               <li>
                 <strong>Your Hotel Room is a physical property / resourced owned by the Hotel</strong>
               </li>
               <li>
                 <strong>Similarly, we have digital properties such as a customer, a product an order a task an item etc. that we serve from our REST APIs. </strong>
               </li>
               <li>
                 <strong>We also issue a short living access token for these API clients (like short duration hotel guests) </strong>
               </li>
               <li>
                 <strong>These tokens can be of various types like Jason Web token or Opaque Token etc </strong>
               </li>
               <li>
                 <strong>A JWT or Jason Web Token is an base 64 encrypted String with hree sub parts 1. The Header 2. The Payload 3. The signature</strong>
               </li>
               <li>
                 <strong>The subparts are separated with a DOT (.)</strong>
               </li>
               <li>
                 <strong>The Authorization Server encrypts such tokens with its private key issues these to the Client asking for them</strong>
               </li>
               <li>
                 <strong>The Client then presents these tokens to the REST API (Resource Server) as an Authorization Header</strong>
               </li>
               <li>
                 <strong>The REST API / Resource Server has the public key of the server key pair and can validate the access token</strong>
               </li>
               <li>
                 <strong>Once the REST API / Resource Server validates the access token (JWT) it serves the API response. </strong>
               </li>
             </ul>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->

    </main><!-- End #main -->
</body>
</html>