<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}"
>
<body>
    <main id="main">
      <!-- ======= Cta Section ======= -->
      <section layout:fragment="page-layout-content" id="cta" class="cta">
      <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <h3>KeyCloak <span>As an Open Source IAM Server</span></h3>
             <ul align="left">
               <li>
                 <strong> Business Organizations typically have various departments dedicated for different types of work </strong>
               </li>
               <li>
                 <strong>We have Sales, Customer Support, Production, R&D, Services and Payrol/Finance and many other departments in any business organization</strong>
               </li>
               <li>
                 <strong>These departments might employ hundreds or even thousands of employees </strong>
               </li>
               <li>
                 <strong>Irrespective of which department they work for, however, all employees have to get their access card to enter the office buildings from a Central single Security Department</strong>
               </li>
               <li>
                 <strong>The R&D Department does not have its own Access Card System that is different from the Services department</strong>
               </li>
               <li>
                 <strong>In terms of software, UI, APIs, entire Products, this is the same. There is a single central Authorization Server that authenticates and authorizes access sought by Clients, APIs calling Other APIs and users</strong>
               </li>
               <li>
                 <strong>Like in market segment, there is a lot of choices, the market for this Authorization Server has lots of choices</strong>
               </li>
               <li>
                 <strong>Commercial Identity and Access Management (IAM) Services like Okta, Azure Active Directory, AWS Cognito, Auth0 are there.</strong>
               </li>
               <li>
                 <strong>KeyCloak is a similar feature rich, open source IAM Server from Red Hat and IBM that is very popular and mature.</strong>
               </li>
               <li>
                 <strong>Like Supply Chain is a specialized software segment and companies want to use the best Supply Chain software out there, IAM Software is also a niche software segment that is critically important</strong>
               </li>
               <li>
                 <strong>Like Companies do not write home-grown supply chain solutions and delegate to product vendors, they also delegate the IAM tasks to KeyCloak</strong>
               </li>
               <li>
                 <strong>KeyCloak supports multiple external Identity Providers like Okta, ADP, Google, Github and AWS and also has support for native database users</strong>
               </li>
               <li>
                 <strong>In addition, KeyCloak endlessly customizable with Java Code to fulfill the needs that is not available out of the box.</strong>
               </li>
             </ul>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->

    </main><!-- End #main -->
</body>
</html>