<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}"
>
<body>
    <main id="main">
      <!-- ======= Cta Section ======= -->
      <section layout:fragment="page-layout-content" id="cta" class="cta">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <h3>OIDC Stands for <span>Open ID Connectivity</span></h3>
             <ul align="left">
               <li>
                 <strong> The first word is Open which means anyone can support it free of cost</strong>
               </li>
               <li>
                 <strong> When OAuth was created by the Internet Engineering Task Force (IETF), it was all about authorization of third parties openly </strong>
               </li>
               <li>
                 <strong> OAuth and then OAuth2 have nothing to also support accessing user profile information like named, addresses, email, phone numbers etc. </strong>
               </li>
               <li>
                 <strong> What OAuth2 does for open authorization, OIDC does the same for open accessibility of user profile information </strong>
               </li>
               <li>
                 <strong>Third party Identity Providers like Okta, Google, Facebook, Amazon, Microsoft, IBM and others support both OAuth2 and OIDC</strong>
               </li>
               <li>
                 <strong>When your IdP support both OAuth2 and OIDC, you get user profile information included in your access token</strong>
               </li>
               <li>
                 <strong>Additionally, you get an end point called the /user-info endpoint, calling which you can get detailed user profile information uniformly</strong>
               </li>
               <li>
                 <strong>If you see that your IdP is supporting OIDC, that means it also does implicitly support OAuth2</strong>
               </li>
             </ul>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->

    </main>
</body>
</html>