<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}"
>
<body>
    <main id="main">
      <!-- ======= Cta Section ======= -->
      <section layout:fragment="page-layout-content" id="cta" class="cta">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <h3>Application Security is as important as <span>The Physical Security of our Homes, Office Buildings</span></h3>
             <ul align="left">
               <li>
                 <strong> Properly Secured Applications Prevent Unauthorized Access by Malicious Users trying to steal data and Intellectual Properties (IP)</strong>
               </li>
               <li>
                 <strong> Attacks can take place to steal data, IP or simply to disrupt critical services in the form of Distributed Denial of Service </strong>
               </li>
               <li>
                 <strong> When hackers use a single computer to pursue their attacks, it is called Denial of Service. </strong>
               </li>
               <li>
                 <strong> When hackers use thousands of computers distributed across the world to pursue their attacks, it is called Denial of Service. </strong>
               </li>
               <li>
                 <strong> When malicious users invoke services meant for legitimate users , it cost resources CPU, Memory and Disk access, preventing the service from serving users.</strong>
               </li>
               <li>
                 <strong> Besides, causing malicious code to be executed as part of the application (CSRF or Cross Site Request Forgery), exploiting weaknesses to inject malicious SQL statements also cause damage</strong>
               </li>
               <li>
                 <strong> All modern stacks / development framework have strong tools and industry standard frameworks to protect against these type of attacks</strong>
               </li>
               <li>
                 <strong> It is thus of utmost importance to use these standard security frameworks, rather than using home-grown solutions to secure applications</strong>
               </li>
               <li>
                 <strong> In this application, we will demonstrate how to secure a UI and a Service API using the latest Spring Security Framework (Version 6.x).</strong>
               </li>
             </ul>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->

    </main>
</body>
</html>