<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}"
>
<body>
    <main id="main">
      <!-- ======= Cta Section ======= -->
      <section layout:fragment="page-layout-content" id="cta" class="cta">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <img src="/img/portfolio/spring_security_arch.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Spring Security Architecture</h4>
                <a href="https://www.javainuse.com/webseries/spring-security-jwt/chap3" class="details-link" title="More About Spring Security Architecture"><i class="bx bx-link"></i>Click To Learn More</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <h3>Spring <span>Boot (3) to Boost Productivity</span></h3>
             <ul align="left">
               <li>
                 <strong>Servlet Filters first came into life during the first release of Java Enterprise Edition in 1996/1997.</strong>
               </li>
               <li>
                 <strong>We can imagine Servlet Filters like the US Transportation Security Administration (TSA) in US Airports.</strong>
               </li>
               <li>
                 <strong>Like TSA can stop, check and allow / deny entry all travellers in airports, Servlet Filters do the same for Web Traffic</strong>
               </li>
               <li>
                 <strong>Spring Security heavily uses Servlet Filters right from the first version and even till now.</strong>
               </li>
               <li>
                 <strong>In TSA Security scanning, some travellers with prior clearance (PreCheck) get to  pass through</strong>
               </li>
               <li>
                 <strong>In Servlet Filter driven Spring Security also, we can identify Web URLs for public static assets and URLs like the landing page, the login page to be cleared without Security scanning</strong>
               </li>
               <li>
                 <strong>Much of these Spring Security Configuration was XML based earlier and now it is Java DSL Based</strong>
               </li>
               <li>
                 <strong>First, For any URLs, that Spring Security was not told to let go, it will stop the request with its Authentication Filter (1)</strong>
               </li>
               <li>
                 <strong>Second, the Spring Security Authentication Filter would extract the username and password (if any) and store them in a specialized object called UsernamePasswordAuthenticationToken </strong>
               </li>
               <li>
                 <strong>Third, Spring Security Authentication Filter would receive the UsernamePasswordAuthenticationToken</strong>
               </li>
               <li>
                 <strong>Fourth, Spring Security Authentication Filter would then delegate to the Spring Security AuthenticationManager for authenticating the user</strong>
               </li>
               <li>
                 <strong>Fifth, The Spring Security AuthenticationProvider is a concrete class that implements the AuthenticationManager. The ProviderManager can have a list of AuthenticationProviders all of which impelments the AuthenticationManager</strong>
               </li>
               <li>
                 <strong>Sixth, The Spring Security AuthenticationProvider invokes another interface driven (UserDetailsService) Spring Security Class</strong>
               </li>
               <li>
                 <strong>As we can see, The UserDetailsService can be implemented by a variety of InMemory, JDBC, LDAP and other classes (all from Spring Security) all of which return a standard interface Object UserDetails</strong>
               </li>
               <li>
                 <strong> We can also provide our own custom implementation of the Spring Security UserDetailsService interface when our user database tables do not match the structure Spring Security wants. </strong>
               </li>
               <li>
                 <strong>Seventh, The Implementation of UserDetailsService returns an object of UserDetails Interface to the AuthenticationProvider </strong>
               </li>
               <li>
                 <strong>Eighth, the AuthenticationProvider returns the UserDetail object to the AuthenticationManager</strong>
               </li>
               <li>
                 <strong>Ninth, the AuthenticationManager returns the UserDetail object to the AuthenticationFilter</strong>
               </li>
               <li>
                 <strong>Tenth, the AuthenticationFilter returns the UserDetail object to the SecurityContext</strong>
               </li>
               <li>
                 <strong>For subsequent requests by the same now logged-in user, Spring Security can retrive the token / cookies / JSESSION Cookie from the HttpServletRequest and check / match its presence in the SecurityContext, preventing further login by the same user.</strong>
               </li>
             </ul>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->

    </main>
</body>
</html>