<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}"
>
<body>
    <main id="main">

      <!-- ======= Cta Section ======= -->
      <section layout:fragment="page-layout-content" id="cta" class="cta">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <h3>Spring <span>Boot (3) to Boost Productivity</span></h3>
             <ul align="left">
               <li>
                 <strong> Every once in a while, when we drive, as drivers of our cars, we do little work compared to what the car itself does to move us.</strong>
               </li>
               <li>
                 <strong>We press the Gas Pedal and the Car does a lot, we press the break pedal and again the Car does a lot.</strong>
               </li>
               <li>
                 <strong>However, unlie driving, enterprise application development even using Spring Framework was still lots of work </strong>
               </li>
               <li>
                 <strong> Applications across business verticals from Banking, to Retail to Healthcare need Database Connectivity, Message Broker Connectivity for example</strong>
               </li>
               <li>
                 <strong>In Spring Framework, we worked a lot more just to configure these Database connections, message broker connecitons</strong>
               </li>
               <li>
                 <strong>That effort took away from our primary focus which is writing business logic</strong>
               </li>
               <li>
                 <strong>In 2012, Spring (Pivotal) realized that how much redundant work can be saved from enginners and released Spring Boot</strong>
               </li>
               <li>
                 <strong>While traditional Spring MVC gave us war files that we needed to deploy to our self downloaded Tomcat / Jetty server, Spring Boot came with its own default Tomcat Servlet Containers</strong>
               </li>
               <li>
                 <strong>Plus it introduced convention over configuration and if certain jars (database drivers and jpa starters) were present on the classpath, Spring Boot autoconfigured those using simple properties</strong>
               </li>
               <li>
                 <strong>The time we needed to set the application up before we started writing business logic, got reduced significantly!</strong>
               </li>
               <li>
                 <strong>Giving us instant boost in Productivity</strong>
               </li>
               <li>
                 <strong>However, Spring removed the "s" from Boost and called it Boot to simulate the bootstrapping process made simpler</strong>
               </li>
               <li>
                 <strong>In Aviation, for example Airlines provides the service to transport passengers and goods from one place to another</strong>
               </li>
               <li>
                 <strong>But all Airlines need security services that the Government (TSA in the US) provides, freeing Airlines to focus on travel excellence which is core business</strong>
               </li>
               <li>
                 <strong>Likewise Spring Boot frees Banks and Retail Organizations (and others) to write their business logic while Spring Boot provides general services security, DB connectivity etc </strong>
               </li>
             </ul>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->
    </main>
</body>
</html>