<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainlayout.html}"
>
<body>
    <main id="main">
      <!-- ======= Cta Section ======= -->
      <section layout:fragment="page-layout-content" id="cta" class="cta">
        <div class="container">

          <div class="row">
            <div class="col-lg-12 text-center text-lg-left">
              <h3>Spring <span>Security and OAuth2 Support</span></h3>
             <ul align="left">
               <li>
                 <strong> The Spring Framework , first released in 2003, 20 years ago introduced eternal Spring Season in Java Enterprise Development</strong>
               </li>
               <li>
                 <strong> Anyone who has developed enterprise Applications without Spring (and Hibernate) and with J2EE / JEE, have experienced living in Alaskan/Siberian Winters</strong>
               </li>
               <li>
                 <strong> Spring took the pain of finding dependencies (morning coffee for humans , Gasoline for vehicles), creating them for us and finally providing them in a platter to be used </strong>
               </li>
               <li>
                 <strong> However, Enterprise Application Development is complex and making an Airplane or a Motor Vehicle is </strong>
               </li>
               <li>
                 <strong>Like Airplanes and Motor Vehicles (or anything as complex) are made using smaller modules (and then assembled) into a full usable/useful product, Enterprise application are the same</strong>
               </li>
               <li>
                 <strong>Following this tried and tested module driven (divide and conquer policy) Spring Framework released smaller modules for specific purposes</strong>
               </li>
               <li>
                 <strong>There is Spring MVC for UI / API Development, Spring Data JPA/JDBC for Database Development, Spring Messaging for Sending / Receiving messages and so on </strong>
               </li>
               <li>
                 <strong>Likewise Spring also has one of its strongest contributions to the community : Spring Security</strong>
               </li>
               <li>
                 <strong>Spring Security is the defacto standard in securing Java Applications and supports a variety of security frameworks from Username/password based authentication to OAuth2</strong>
               </li>
               <li>
                 <strong>In this application, however, we will talk about Spring Security's support for OAuth2</strong>
               </li>
               <li>
                 <strong>Spring Security version 6 (starting from version 5) have made smaller dependency jars for OAuth2 Roles like Resource Server and Clients</strong>
               </li>
               <li>
                 <strong>If we are developing just an API (Resource Server) Spring Security has a dedicated dependency for that.</strong>
               </li>
               <li>
                 <strong>If we are developing a Client (UI) or an API, Spring Security also has a OAuth2 Client Dependency for that.</strong>
               </li>
               <li>
                 <strong>Spring Security OAuth2 support extensive Java based Domain Specification Language (DSL) for configuring our application</strong>
               </li>
               <li>
                 <strong>It also has state-of-the-art support for password encryption, salting (advanced security), hashing and interfaces for customizing the implementation </strong>
               </li>
             </ul>
            </div>
          </div>

        </div>
      </section><!-- End Cta Section -->
    </main>
</body>
</html>